.container {
    width : 100%;
    margin-top: 1rem;;
    height : 145px;;
    background-color: white;;
}
.wrapper{
    display: flex;
    justify-content: space-around;
}
header {
    font-weight: 700;
    font-size: 13px;
    line-height: 40px;
    font-family: Rubik;
}
.parameter {
    color : #2E5BFF;
}
.parameters {
    background-color: #2E5BFF;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    height :30px;
    color : white;
    text-transform: uppercase;
    font-weight: 600;
}
.value{
    padding-left : rem;

}
.sub__project__one{
    display : flex;
    justify-content: space-around;
    width : 36%;
    font-family: Rubik;
    font-weight: 600;
}
.border{
    height : 2px;
    width : 100%;
    background-color: rgb(222, 220, 220);
}
.sub__project__two{
    display : flex;
    justify-content: space-around;
    width : 36%;
    font-weight: 600;
}
.sub{
    margin-left: rem;
}
.parameter__wrap {
    display : flex;
    justify-content: space-between;
    width : 29%;
}