
.container {
    justify-content: space-between;
    width : 80%;
    font-family: 'Rubik';
}
.header__wrapper{
    display : flex;
    justify-content: space-between;
}
.collapse {
    color : black;
    padding-right: 20rem;
}
.wrapper__main{
    display : flex;
    justify-content: space-between !important;
    background-color:;
    width : 100%;
}
.item1{
  grid-area : top;
  height : 230px;
 font-family: 'Rubik';
  display: flex;
  justify-content: space-around;
}
.item2{
    grid-area: right;
    width : px;
    text-align: center;
}
.item3{
    grid-area: left;
    height : 120px;
    
}
.item4{
    grid-area: bottom;
    height : 120px;
    
}
.barChart{
    width : 49%;
    display: flex;
    justify-content: center;
    background-color:  white;
}

.wrapper {
    display : grid;
    height : fit-content;
    grid-template-areas: 'top top top top right right'
    'top top top top right right'
    'left left bottom bottom right right';
    gap : 10px;
    background-color:;
    width : 49%;
}
.wrapper > div {
    background-color: white;
}

.header__text{
    color : #2E5BFF;
    font-weight : 700;
    font-size: 12px;;
}
.header_text{
    font-size: 11px;
    font-weight: 700;
    color : #2E5BFF;
    font-family: 'Rubik';
}
 .text{
    margin-top: -5px;;
    font-weight: 500;;
} 
.state{
    margin-top: 2.6rem;
}

.task, .completed {
    padding-top: 10px;
}
.taskNo{
    color : black;
    font-size: 23px;
    padding : 5px 0;
    font-weight: 400;

}
.collections{
    display: flex;
    flex-direction: column;
    background-color:;
    height: 130px;
    justify-content: space-between;
    margin-top: 5.5rem;
    color: #2E5BFF;
    font-size: rem;
    font-weight: 700;
}
.risk {
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    height : 100%;
}
.risks {
    font-size: 12px;
    font-weight: 700;
    color : #2E5BFF;
    padding : 8px 0;
}
.no{
    color : black;
    font-size: 23px;
    font-weight: 500;
    padding : 8px;
}

table{
    background-color: red;
    width : 100%;
}