.container {
    margin-left: 100px;
    min-height: 100vh;
}

.wrapper {
    background-color:  #F4F6FC;
    background: #f6f4f4;
    /* background-color: #828282; */
    
    min-height: 100vh;
    

}
.content {
    padding : 2rem;
    display : flex;
    justify-content: space-between;
}