.wrapper {
    width : 18%;;
    height : px;
    background-color: red;
}
.locations{
    background-color: #2E5BFF;
    display: flex;
    justify-content: space-around;
    color : white;
    font-size: 15px;
    height : 50px;
}
.locations p{
    display: flex;
    align-items: center;
}
.icon{
    display: flex;
    align-items: center;
    color : white;
}
.second{
    background-color: white;
    display: flex;
    height: 50px;
}
.no{
    border-right: 3px solid rgb(189, 189, 189);
    border-bottom: 3px solid  rgb(189, 189, 189);
    width : calc(16rem / 2);
    font-size: 13px;
    font-weight: 600;
}
.no p{
    margin-left: 2.3rem;
}
.third {
    background-color: #d0c7c7;;
    height: 50px;
    display: flex;
    border-bottom: 2px solid rgba(233, 227, 227, 0.975);
}
.third p{
    margin-left: 2.3rem;
    font-size: 13px;
    font-weight: 600;
}
.common {
    background-color: white;
    border-bottom: 2px solid rgba(233, 227, 227, 0.975);
    height : 50px;
    display: flex;
}
.common p{
    margin-left: 2.3rem;
    font-size: 13px;
    font-weight: 600;
}