.wrapper {
    width : 100px;
    display:  flex;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: center;
}
.image__wrapper{
    margin-top: 3rem;
}
.icons__wrapper{
    
}
.icon{
    padding-top: 2.3rem;
    opacity: 0.7;
    display : flex;
    justify-content: center;
}